/* Global Styling */
body {
  min-height: 100svh;
  font-family: var(--ff-main);
  background-color: var(--background);
  color: var(--text-950);
  overflow: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  border-bottom: var(--primary) 2px solid;
  padding: 0rem 1.5rem;
  z-index: 100;
}
main {
  padding-top: 60px;
}
/* Header Styling */
.header__nav-btn {
  display: block;
  padding: 0.5rem;
}
.header__nav-btn:hover {
  background-color: var(--secondary20);
  border-radius: 10%;
}

.header__title {
  padding-left: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.header__title-logo {
  color: var(--accent);
}

.menu-icon {
  width: 20px;
}
