@media (min-width: 768px) {
  .main__wrapper {
    flex-direction: row;
    transition: margin-left 0.5s ease;
  }
  .main__left-panel {
    min-width: 70%;
    max-width: 100%;
    transition: margin-left 0.5s ease-in-out;
  }
  .main__left-panel{
    flex-grow: 1;
  }
  .sidepanel {
    transition: width 0.5s ease-in-out;
    width: 0;
    overflow: hidden;
    /* background-color: red; */
    white-space: nowrap;
    max-height: none;
    height: 100%;
  }
  .sidepanel-hide {
    width: 0;
    padding: 0;
    /* max-height: 0; */
  }
  .sidepanel-show {
    width: 650px;
    /* max-height: 0 */
  }
}
