.taskform {
  background-color: var(--secondary);
  border-radius: 10px;
}

.taskform__input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  margin: 0.5rem;
  color: var(--text);
}

.taskform__input--title {
  font-weight: 600;
}

.taskform__input--date {
  width: auto;
  color: var(--text);
  position: relative;
}

input[type="date"] {
  padding-right: 2rem;
  color: var(--text); /* Adjusted from white to var(--text) for consistency */
}

/* Placeholder for text inputs (not for date inputs) */
input::placeholder {
  color: #999;
}
input[type="checkbox"] {
  accent-color: var(--accent-500); /* Changes the color of the checkbox */
  cursor: pointer; /* Adds a pointer cursor on hover */
  border: none;
}
label[for="Project"] {
  font-size: 1rem;
  font-weight: 500;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
