/* helper Class */
.m-0 {
  margin-top: 0 !important;
}
.m-1 {
  margin-top: 1rem;
}
.c-p {
  cursor: pointer;
}
.disableClick {
  cursor: not-allowed !important;
}
.click-effect {
  border-radius: 30px;
  background-color: var(--secondary);
  opacity: 1;
}
.disableHover:hover {
  background-color: initial;
}
.hidden {
  display: none;
}
