/* https://www.realtimecolors.com/?colors=faeefc-040104-b125d0-751530-a02e1c&fonts=Inter-Inter */
/* https://www.realtimecolors.com/dashboard?colors=010a18-fafcff-096cf6-cb80fa-e644f8&fonts=Inter-Inter */
/* https://www.realtimecolors.com/dashboard?colors=021431-e7f0fe-053c8a-c454f8-ec09c6&fonts=Inter-Inter */
:root[data-theme="light"] {
  --secondary20: hsl(277, 92%, 74%, 20%);
  --secondary30: hsl(277, 92%, 74%, 30%);
  --static: rgba(225, 225, 225, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(255, 255, 255);
  --static2: #0f0f0f;
  --static5: rgb(24, 172, 122);
  --static6: rgba(0, 0, 0, 0.05);
  --static7: rgba(0, 0, 0, 0.1);
  --static8: rgba(0, 0, 0, 0.05);
  --static9: rgba(0, 0, 0, 0.3);
  --static10: rgba(225, 225, 225);
  --static11: rgba(0, 0, 0, 0.03);
  --static12: rgba(255, 255, 255, 0.8);
  --static13: rgb(235, 235, 235);
  --static14: rgba(0, 0, 0, 0.2);
  --static15: rgba(255, 255, 255, 0.5);
}
:root[data-theme="dark"] {
  --static: rgba(0, 0, 0, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(22, 22, 22);
  --static2: rgb(240, 240, 240);
  --static5: rgb(24, 172, 122);
  --static6: rgba(255, 255, 255, 0.15);
  --static7: rgba(255, 255, 255, 0.1);
  --static8: rgba(255, 255, 255, 0.05);
  --static9: rgba(255, 255, 255, 0.3);
  --static10: rgb(40, 40, 40);
  --static11: rgba(255, 255, 255, 0.03);
  --static12: rgba(0, 0, 0, 0.8);
  --static13: rgb(40, 40, 40);
  --static14: rgba(255, 255, 255, 0.2);
  --static15: rgba(0, 0, 0, 0.5);
}
:root[data-theme="light"] {
  --text-50: #e7f0fe;
  --text-100: #cee0fd;
  --text-200: #9dc1fb;
  --text-300: #6ca2f9;
  --text-400: #3b83f7;
  --text-500: #0a64f5;
  --text-600: #0850c4;
  --text-700: #063c93;
  --text-800: #042862;
  --text-900: #021431;
  --text-950: #010a18;

  --background-50: #e7f0fe;
  --background-100: #cee0fd;
  --background-200: #9dc1fb;
  --background-300: #6ca2f9;
  --background-400: #3b83f7;
  --background-500: #0a64f5;
  --background-600: #b6b9bf;
  --background-700: #063c93;
  --background-800: #042862;
  --background-900: #021431;
  --background-950: #010a18;

  --primary-50: #e6f0fe;
  --primary-100: #cee2fd;
  --primary-200: #9dc4fb;
  --primary-300: #6ba7fa;
  --primary-400: #3a89f8;
  --primary-500: #096cf6;
  --primary-600: #0756c5;
  --primary-700: #054194;
  --primary-800: #042b62;
  --primary-900: #021631;
  --primary-950: #010b19;

  --secondary-50: #f7e7fe;
  --secondary-100: #eecefd;
  --secondary-200: #dd9dfb;
  --secondary-300: #cc6cf9;
  --secondary-400: #bb3bf7;
  --secondary-500: #ab0af5;
  --secondary-600: #8808c4;
  --secondary-700: #660693;
  --secondary-800: #440462;
  --secondary-900: #220231;
  --secondary-950: #110118;

  --accent-50: #fee6fa;
  --accent-100: #fdcef5;
  --accent-200: #fb9dec;
  --accent-300: #fa6be2;
  --accent-400: #f83ad8;
  --accent-500: #f609cf;
  --accent-600: #c507a5;
  --accent-700: #94057c;
  --accent-800: #620453;
  --accent-900: #310229;
  --accent-950: #190115;
}
:root[data-theme="dark"] {
  --text-50: #010a18;
  --text-100: #021431;
  --text-200: #042862;
  --text-300: #063c93;
  --text-400: #0850c4;
  --text-500: #0a64f5;
  --text-600: #3b83f7;
  --text-700: #6ca2f9;
  --text-800: #9dc1fb;
  --text-900: #cee0fd;
  --text-950: #e7f0fe;

  --background-50: #010a18;
  --background-100: #021431;
  --background-200: #042862;
  --background-300: #063c93;
  --background-400: #0850c4;
  --background-500: #0a64f5;
  --background-600: #3b83f7;
  --background-700: #6ca2f9;
  --background-800: #9dc1fb;
  --background-900: #cee0fd;
  --background-950: #e7f0fe;

  --primary-50: #010b19;
  --primary-100: #021631;
  --primary-200: #042b62;
  --primary-300: #054194;
  --primary-400: #0756c5;
  --primary-500: #096cf6;
  --primary-600: #3a89f8;
  --primary-700: #6ba7fa;
  --primary-800: #9dc4fb;
  --primary-900: #cee2fd;
  --primary-950: #e6f0fe;

  --secondary-50: #110118;
  --secondary-100: #220231;
  --secondary-200: #440462;
  --secondary-300: #660693;
  --secondary-400: #8808c4;
  --secondary-500: #ab0af5;
  --secondary-600: #bb3bf7;
  --secondary-700: #cc6cf9;
  --secondary-800: #dd9dfb;
  --secondary-900: #eecefd;
  --secondary-950: #f7e7fe;

  --accent-50: #190115;
  --accent-100: #310229;
  --accent-200: #620453;
  --accent-300: #94057c;
  --accent-400: #c507a5;
  --accent-500: #f609cf;
  --accent-600: #f83ad8;
  --accent-700: #fa6be2;
  --accent-800: #fb9dec;
  --accent-900: #fdcef5;
  --accent-950: #fee6fa;
}

:root[data-theme="light"] {
  --text: #021431;
  --background: #e7f0fe;
  --primary: #053c8a;
  --secondary: #c454f8;
  --accent: #ec09c6;
}

:root[data-theme="dark"] {
  --text: #cee0fd;
  --background: #010a18;
  --primary: #75adfa;
  --secondary: #7707ab;
}

:root {
  --ff-main: "Inter", sans-serif;
  /* --primary: #bb2fda; */

  --fw-medium: 500;
}
:root {
  --linearPrimarySecondary: linear-gradient(#053c8a, #c454f8);
  --linearPrimaryAccent: linear-gradient(#053c8a, #ec09c6);
  --linearSecondaryAccent: linear-gradient(#c454f8, #ec09c6);
  --radialPrimarySecondary: radial-gradient(#053c8a, #c454f8);
  --radialPrimaryAccent: radial-gradient(#053c8a, #ec09c6);
  --radialSecondaryAccent: radial-gradient(#c454f8, #ec09c6);
}
