/* Global Styling */
body {
  min-height: 100svh;
  font-family: var(--ff-main);
  /* background-color: var(--background); */
  color: var(--text-950);
  overflow-x: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header Styling */
.header__nav-btn {
  display: block;
  padding: 0.5rem;
}
.header__nav-btn:hover {
  background-color: var(--secondary20);
  border-radius: 10px;
}

.header__title {
  padding-left: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.header__title-logo {
  color: var(--accent);
}

header {
  /* border-bottom: 5px solid var(--ff-main); */
  border-bottom: var(--accent) 3px solid;
  padding: 0rem 1.5rem;
}
.menu-icon {
  width: 20px;
}
