/* For Responsive */
.main__wrapper {
  display: flex;
  flex-direction: column;
  transition: margin-left 0.5s ease;
  /* background-color: yellow; */
}
.sidepanel {
  background-color: var(--static11);
  display: block;
  /* Changes */
  transition: max-height 1s ease-in-out;
  white-space: nowrap;
  width: 100%;
  overflow-y: auto;
  white-space: nowrap;
  max-height: 80vh;
  overflow-x: hidden;
}
.sidepanel-show {
  max-height: 80vh;
}
.sidepanel-hide {
  max-height: 0;
}
.main__left-panel {
  transition: margin-bottom 5s ease-in-out;
}

.sidepanel__contents {
  padding: 0 0.875rem;
}
.sidepanel__contents {
  text-align: left;
  font-weight: var(--fw-medium);
}
.sidepanel__section {
  padding-top: 1rem;
}

.sidepanel__section-title {
  margin-top: 0;
  padding-bottom: 0.315rem;
  /* border-bottom: solid 2px var(--text); */
  font-size: 1.2rem;
  text-align: left;
}

.sidepanel__button {
  border: none;
  /* Button Text Styling */
  text-align: left;
  font-size: 1rem;
  color: var(--text-900);
  background-color: transparent;
}

.sidepanel__buttons-container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: start;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.grid-container--panel {
  gap: 1rem;
  margin-top: 1rem;
}

.sidepanel__icon-container {
  width: 1.25px;
  height: auto;
  /* Change */
  flex: 0 0 auto;
}
.sidepanel__icon-container img {
  width: 100%;
  height: auto;
}

.sidepanel__icon-clr {
  color: red !important;
}
/* button hover effect */
.sidepanel__buttons-container:hover {
  opacity: 1;
  cursor: pointer;
}

.click-effect {
  border-radius: 20px;
  background-color: var(--secondary20);
  opacity: 1;
}
/* Project Section */

.project--container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidepanel__button--project {
  margin-left: 1rem;
}
.sidepanel__button--project:hover {
  cursor: pointer;
}
