.sidepanel {
  height: 100%; /* Full-height */
  width: 0; /* Initial width when closed */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: var(--static11);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content below header */
  transition: 0.3s; /* Transition effect */
  z-index: 1; /* Stay on top of the page */
}
.sidepanel.open {
  width: 500px; /* Set width when open */
}

/* Main Content Styling */
#main {
  transition: margin-left 0.3s; /* Transition effect for content */
  margin-left: 0; /* Initial margin when sidenav is closed */
}

/* When the sidenav is open, shift the main content */
.sidepanel.open ~ #main {
  margin-left: 500px; /* Shift main content by the width of the sidenav */
}
